.item {
    width: 280px;
    position: relative; /* Ensure the view-details section is positioned correctly */
}

.item img {
    width: 280px;
    cursor: pointer;
}

.item-name {
    text-decoration: none;
    color: #374151;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0px;
}

.item-name:hover {
    color: #1e90ff; /* Optional hover effect for the link */
}

.item-price {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.unit {
    font-size: 14px;
    color: #6b7280;
    margin-left: 4px;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* View Details Section */
.view-details {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    text-decoration: none;
    color: #1e90ff; /* Blue color for the "View" text */
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
}

.view-details:hover {
    text-decoration: underline; /* Optional hover effect */
}

.eye-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}

/* Responsive Styles */
@media (max-width: 1280px) {
    .item {
        width: 220px;
        font-size: 14px;
    }
    .item img {
       width: 220px; 
    }
}

@media (max-width: 1024px) {
    .item {
        width: 170px;
        font-size: 13px;
    }
    .item img {
        width: 170px;
    }
}

@media (max-width: 800px) {
    .item {
        width: 120px;
        font-size: 12px;
    }
    .item img {
        width: 120px;
    }
}

@media (max-width: 500px) {
    .item {
        width: 160px;
        font-size: 12px;
    }
    .item img {
        width: 160px;
    }
}